body {
  background-color: #1b1b1b;
  color: #acacac;
}

.custom-text-italic {
  font-size: x-small;
  font-style: italic;
}

.custom-text-italic-small {
  font-size: xx-small;
  font-style: italic;
}

.box {
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
.title {
  font-weight: lighter;
  /* font-variant-position: super; */
  font-variant-caps: all-petite-caps;
  font-family: serif;
}

.login {
  background-image: url("./../public/assets/log3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: brightness(0.5); */
}

.login::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.login > * {
  position: relative;
  z-index: 1;
}

.logo {
  width: clamp(100px, 15vw, 180px);
  filter: brightness(0.8) contrast(0.9) drop-shadow(-1px 6px 3px rgb(0, 0, 0));
}

.c-input-group {
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
.input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 10px 0px;
  font-size: 16px;
  border-bottom: 1px solid #757575ab;

  color: #acacac;
}

.input-icon {
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 1px solid #757575ab;

  color: #747474;
}

.custom-bb {
  border-bottom: 1px solid #7575751c;
}





.c-checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin: 0;

  appearance: none;
  -webkit-appearance: none;

  background-color: #989898;

  box-shadow: 0.1em 0.1em 0.1em 0.1em rgb(41, 40, 40) inset;

  flex-shrink: 0;
}

.c-checkbox:checked {
  background-color: #323131f0;
}

.c-checkbox:checked::after {
  content: "✓";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 11px;
  line-height: 1;
}